.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #007bff; /* Blue color for header */
  color: white;
  padding: 20px;
  text-align: center;
}

.video-container {
  width: 100%;
  max-width: 700px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-item {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 10px;
}

.thumbs-up-button, .thumbs-down-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #28a745; /* Green color for footer */
  padding: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blue {
  background-color: #007bff; /* Blue color for thumbs up icon */
}

.green {
  background-color: #28a745; /* Green color for thumbs down icon */
}

.video-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.video-enter {
  opacity: 1;
}
